body {
  color: #555;
}

.container {
  margin: 10px;
}

.header,
.content,
form {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .header,
  .content {
    flex-direction: column;
  }
}

form {
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  margin: 5px;
}

.header,
.content {
  > div {
    width: 320px;
    padding: 5px;
    margin: 5px;
    background: #EFEFEF;
  }
}

.image {
  background: #DCDCDC;
  height: 200px;
}

.image, .imgPreview, .previewImage {
  width: 320px;
  height: 180px;
}

.previewImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.labels .label {
  background: white;
  padding: 5px;
  margin: 3px;
}

.fileInput {
  width: 220px;
}

.status > span {
  display: block;
  padding: 8px;
}

.submitButton {
  border: 0;
  outline: none;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput + label, .submitButton {
  padding: 8px;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  background-color: #555;
  display: inline-block;
}

.fileInput:focus + label,
.fileInput + label:hover,
.submitButton:focus,
.submitButton:hover {
  background-color: #333;
}

.fileInput + label {
  cursor: pointer;
}
