body {
  color: #555; }

.container {
  margin: 10px; }

.header,
.content,
form {
  display: flex;
  flex-direction: row; }

@media (max-width: 600px) {
  .header,
  .content {
    flex-direction: column; } }

form {
  justify-content: space-between; }

h1 {
  font-size: 1.2em;
  margin: 5px; }

.header > div,
.content > div {
  width: 320px;
  padding: 5px;
  margin: 5px;
  background: #EFEFEF; }

.image, .image-preview {
  width: 320px;
  height: 180px; }

.image-preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.label {
  background: white;
  padding: 5px;
  margin: 3px;
  font-size: 0.8em; }

.status > span {
  display: block;
  padding: 8px;
  font-size: 0.8em; }

.submit-button {
  border: 0;
  outline: none; }

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.file-input + label, .submit-button {
  text-transform: uppercase;
  padding: 8px;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
  background-color: #555;
  display: inline-block; }

.file-input:focus + label,
.file-input + label:hover,
.submit-button:focus,
.submit-button:hover {
  background-color: #333; }

.file-input + label {
  cursor: pointer; }
